.input-add-container {
  display: flex;
  gap: 12px;
  align-items: center;
  margin: 16px 0;
}

/* OutlinedInput */
.input-add-container .MuiOutlinedInput-root {
  background-color: #f0f0f0; /* fundo do input */
  border-radius: 8px;
  height: 40px; /* altura consistente */
  color: black; /* texto digitado */
}

/* Borda padrão */
.input-add-container .MuiOutlinedInput-notchedOutline {
  border-color: black; /* contorno preto */
}

/* Borda ao passar o mouse */
.input-add-container .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: black;
}

/* Borda ao focar */
.input-add-container .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: black;
}

/* Input real dentro do Outlined */
.input-add-container .MuiOutlinedInput-input {
  padding: 10px 5%; 
  font-size: 16px;
  box-sizing: border-box;
  color: black; /* texto digitado */
}

/* Label */
.input-add-container .MuiInputLabel-root {
  color: black; /* label preta */
}

/* Label ao focar */
.input-add-container .MuiInputLabel-root.Mui-focused {
  color: black;
}

/* Botão */
.input-add-container .MuiButton-root {
  background-color: #3bc05e;
  color: white;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
}

.input-add-container .MuiButton-root:hover {
  background-color: #34a54d;
  transform: scale(1.05);
}
