.layout-base {
    background-color: rgba(59, 192, 94, 0.597);
    padding: 8px;

}

.layout-header {
    padding: 8px;
    display: flex;
    gap: 8px;
    justify-content: center; /* centraliza só os botões */
}
.layout-divider {
    border-color: rgba(0, 0, 0, 0.293);
}

.home-buttons button {
    color: white
}

.home-buttons :hover{
    background-color: rgb(39, 19, 95);
}